---
const { bodyClass, title, description } = Astro.props;
import { ClientRouter } from "astro:transitions";
import Footer from "../components/Footer.astro";
import NavMenu from "../components/NavMenu.astro";
---

<html>
  <head lang="en">
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="theme-color" content="#ffffff" />

    <link rel="icon" type="image/x-icon" href="img/favicon.ico" sizes="any" />
    <link rel="apple-touch-icon" href="img/apple-touch.png" sizes="180x180" />

    <link
      rel="icon"
      type="image/png"
      href="img/favicon-32x32.png"
      sizes="32x32"
    />
    <link
      rel="icon"
      type="image/png"
      href="img/favicon-16x16.png"
      sizes="16x16"
    />

    <link rel="manifest" href="/site.webmanifest" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <title>{title}</title>
  </head>
  <body class={bodyClass}>
    <svg class="filter" xmlns="http://www.w3.org/2000/svg">
      <filter id="grainy">
        <feTurbulence type="turbulence" baseFrequency="0.5"></feTurbulence>
        <feColorMatrix type="saturate" values="0"></feColorMatrix>
      </filter>
    </svg>
    <slot name="loader" />
    <NavMenu />
    <main class="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>

<script>
  import mainScript from "../scripts/main.js";
  mainScript();
</script>
